.container {
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Cairo', sans-serif;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #808892;
  text-align: center !important;
}

.logo {
  width: 60px;
  display: block;
  margin-top: 5px;
  text-align: center; 
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: left;
  margin-bottom: 8px;
  color: #DFBC8A;
  font-size: 0.9rem;
  font-weight: bold;
}

.select {
  width: 100%;
  max-width: 560px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.textarea {
  width: 100%;
  padding: 12px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.fileUploadContainer {
  position: relative;
  border: 1px dashed #d4a259;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.fileLabel {
  font-size: 0.9rem;
  color: #666;
  font-weight: normal;
}

.previewContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.previewImage {
  border-radius: 8px;
}

.removeButton {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.sendButton {
  background-color: #DFBC8A;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 48%;
  font-size: 0.9rem;
}

.cancelButton {
  background-color: #ccc;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 48%;
  font-size: 0.9rem;
}

.input {
  width: 100%;
  max-width: 560px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #d4a259;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.fullWidthDiv {
  width: 100%;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    width: auto !important;
    padding: 15px;
  }
  .title {
    text-align: center;
    font-weight: bold;
  }
  .logo {
    width: 50px;
  }
  .select, .textarea, .input {
    font-size: 14px;
  }
  .fullWidthDiv {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
