.TransferMoneyPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
    justify-content: center;
    border-radius: 90px;
  }
  
  .TransferMoneyPage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .TransferMoneyPage-title {
    font-size: 24px;
    color: #808892;
    margin-right: 8px;
  }
  
  .TransferMoneyPage-logo {
    width: 24px;
    height: 24px;
  }
  
  .TransferMoneyPage-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 19px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .TransferMoneyPage-form {
    margin-top: 10px;
  }
  
  .TransferMoneyPage-inputWrapper {
    position: relative;
    margin-bottom: 15px;
  }
  
  .TransferMoneyPage-inputIcon {
    position: absolute;
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  
  .TransferMoneyPage-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    height: 40px;
    line-height: 20px;
    border: 1px solid #ffffffc9;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .TransferMoneyPage-input:focus {
    border-color: #d4af37;
  }
  
  .TransferMoneyPage-input::placeholder {
    color: #aaa;
    font-size: 14px;
    text-align: left;
  }
  
  .TransferMoneyPage-buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .TransferMoneyPage-sendButton,
  .TransferMoneyPage-cancelButton {
    background-color: #DFBC8A;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 39px;
    width: 48%;
    font-size: 14px;
  }
  
  .TransferMoneyPage-cancelButton {
    border: 1px solid #ccc;
    color: #fff8f8;
    border-radius: 10px;
    cursor: pointer;
    height: 39px;
    width: 48%;
    background-color: #C7C7C7;
  }
  
  .TransferMoneyPage-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .TransferMoneyPage-logoSmall {
    width: 66px;
    height: 36px;
    margin: 0 5px;
  }
  
  .TransferMoneyPage-label {
    color: #EAD7BC;
    font-weight: bold;
    font-size: 18px;
    margin-right: 100%;
  }
  
  /* Media Queries for Mobile Screens */
  @media (max-width: 768px) {
    .TransferMoneyPage-card {
      padding: 15px;
      border-radius: 15px;
      max-width: 90%;
    }
  
    .TransferMoneyPage-title {
      font-size: 20px;
    }
  
    .TransferMoneyPage-input {
      font-size: 12px;
      padding: 10px 10px 10px 35px;
    }
  
    .TransferMoneyPage-sendButton,
    .TransferMoneyPage-cancelButton {
      width: 48%;
      font-size: 12px;
    }
  
    .TransferMoneyPage-logoSmall {
      width: 50px;
      height: 30px;
    }
  
    .TransferMoneyPage-label {
      margin-right: 10px;
      font-size: 16px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    .TransferMoneyPage-card {
      padding: 10px;
      border-radius: 10px;
      max-width: 95%;
    }
  
    .TransferMoneyPage-title {
      font-size: 18px;
    }
  
    .TransferMoneyPage-input {
      font-size: 12px;
      padding: 8px 8px 8px 30px;
    }
  
    .TransferMoneyPage-sendButton,
    .TransferMoneyPage-cancelButton {
      width: 48%;
      font-size: 10px;
    }
  
    .TransferMoneyPage-logoSmall {
      width: 40px;
      height: 25px;
    }
  
    .TransferMoneyPage-label {
      font-size: 14px;
      margin-right: 100%;
    }
  }
  