.offers-section {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  
.offers-header h2 {
    background-color: #DFBC8A;
    color: white;
    padding: 23px 20px;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 21px;
    width: 198px;
    height: 72px
  }
  
  .offers-container {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .offer-card {
    width: 100%;
    max-width: 29.375rem;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .discount {
    background-color: #DFBC8A;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 228px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .offer-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    margin-left: 10px;
  }
  
  .offer-details p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
  }
  
  .offer-footer {
    margin: 20px 0;
    font-size: 1em;
    color: #666;
  }
  
  .payment-section h3 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 11px;
    color: black;
    font-size: 24px;
  }
  
  .payment-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .payment-logos img {
    opacity: 0.7;
      width: 151px;
      margin-top: 36px;
  }
  
  
   
  
  
  /* تحسين التنسيق لشاشات الهواتف */
  @media (max-width: 768px) {
    .offers-container {
      flex-direction: column;
      gap: 20px;
    }
  
    .offer-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .discount {
      margin: 0 auto 10px auto;
    }
  
    .offer-details h3,
    .offer-details p {
      text-align: center;
      margin-left: 0;
    }
  
    .payment-logos {
      gap: 15px;
    }
  
    .section-divider {
      width: 80%;
      margin: 10px auto;
    }
  }
  