.membership-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.membership-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefit-card, .center-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    text-align: left;
}

.benefit-card h3, .center-card h3 {
    color: #DFBC8A;
    font-size: 1.1em;
    margin-bottom: 10px;
}


.center-card {
    background-color: #f9f9f9;
    padding: 64px;
    border-radius: 15px;
    border: 1px solid #f0e1c8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.95em;
    text-align: center;
    color: #333;
    max-width: 500px;
    margin: 0 auto; /* لمركزة البطاقة */
    line-height: 1.6;
}

.center-card h3 {
    color: #666;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.center-card p {
    color: #666;
    margin-bottom: 15px;
}

.center-card p strong {
    color: #DFBC8A;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.center-card p em {
    color: #333;
    font-style: italic;
}

.center-card .icon {
    font-size: 1.5em;
    color: #DFBC8A;
    margin-left: 10px;
}


.character-image {
    display: flex;
    justify-content: center;
}

.character-image img {
    max-width: 100%;
    border-radius: 10px;
}

.last-card {
    text-align: left;
}

.benefit-card p, .center-card p {
    color: #555;
    line-height: 1.5;
}
.benefit-card .last-card{
    margin-top: 2px;
}

/* استعلامات الوسائط للهاتف */
@media (max-width: 768px) {
    .benefits-grid {
        grid-template-columns: 1fr;
    }

    .character-image, .last-card {
        grid-column: auto;
    }

    .left-side, .right-side, .center-card {
        text-align: center;
    }
}

.section-divider {
    width: 370px;
    height: 2px;
    background-color: #d3a15a;
    margin-left: 293px;
    margin-bottom: 1px;
}