.leaderboard {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  .rank-row {
    background-color: #fff;
  }
  
  .rank-row.highlight {
    background-color: #fdf5e6;
  }
  
  .trophy-icon {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .details-row {
    background-color: #fdf5e6;
  }
  
  .details-row td {
    padding: 10px;
    border: none;
  }
  
  .extra-info {
    width: 100%;
    display: flow;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    font-size: 14px;
    color: #c69c6d;
  }
  .extra-info span {
    margin-bottom: 5px;
  }