.faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.faq-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-question {
    padding: 15px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    padding: 15px 20px;
    font-size: 0.9em;
    color: #666;
    background-color: #fff4e5;
    border-top: 1px solid #f0e1c8;
}

.icon-faq {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    color: #DFBC8A;
}

.section-divider {
  width: 80%; 
  max-width: 300px;
  height: 2px; 
  background-color: #d3a15a; 
  margin: 20px auto; 
  border-radius: 1px;
  opacity: 0.8; 
}

.arrow {
    font-size: 1.2em;
    color: #DFBC8A;
}

.active .faq-question {
    color: #DFBC8A;
}

.faq-answer .highlight {
    color: #DFBC8A;
    font-weight: bold;
}

/* استعلامات الوسائط لتصميم الهاتف */
@media (max-width: 768px) {
    .faq-container {
        grid-template-columns: 1fr; /* جعل الأعمدة عمودية */
        max-width: 100%;
        padding: 10px;
    }

    .faq-item {
        margin-bottom: 10px;
    }

    .section-divider {
        width: 90%; /* جعل العرض أكبر ليناسب الشاشة الصغيرة */
        margin: 10px auto;
    }
}
